header {
    width: 100vw;
    padding: 2.5vh 6vw;

    background: var(--white);

    z-index: 10;
}

#head-title {
    font-size: 2.5em;
}

#head-title>label {
    color: var(--red);
}

#head-title,
#head-title>label {
    font-family: "lilita one";
}

#container {
    grid-template-columns: 11fr 9fr;
    height: 100vh;
}

#left {
    position: relative;
}

#left::after {
    content: '';
    position: absolute;
    top: 0;
    left: 100%;

    border-top: 50vh solid var(--white);
    border-bottom: 50vh solid transparent;
    border-left: 50px solid var(--white);
    border-right: 50px solid transparent;
}

.text-container {
    gap: 10px;
    padding: 6vh 6vw;
}

.head-text {
    padding-block: 10px;

    font-size: 2.25em;
    font-family: "lilita one";

    text-transform: uppercase;
}

.sub-text {
    font-size: .9em;
    font-weight: 500;

    line-height: 1.8em;
}

.sub-text label {
    padding-inline-end: 3px;
    font-size: 1.05em;
    font-weight: 600;
}

.btn {
    padding: 8px 12px;
    color: var(--white);

    font-size: .85em;
    font-weight: 500;

    border-radius: 5px;
}

.special {
    padding: 4px 10px;
    font-size: .9em;

    cursor: text;
}

.first {
    background: var(--red);
}

.btn-box {
    gap: 10px;
    padding: 20px;
}

.second {
    background: var(--blue);
}

#right {
    background: var(--grey);
}

.cover {

    transition: .2s ease-in-out;
}

.hidden {
    opacity: 0;
    pointer-events: none;
}

#bg-cover {
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    background: rgba(0, 0, 0, .6);
    background-blend-mode: darken;

    z-index: 10;
}

.pop-up {
    top: 50%;
    left: 50%;

    background: var(--white);
    border-radius: 20px;

    transform: translate(-50%, -50%);
    z-index: 15;
}

#pop-up {
    width: 60vw;
    height: 80vh;
}

#about-us {
    width: 70vw;
    height: 85vh;
}

.non-expand {
    width: 320px;
    height: 0;
}

#pop-up-container {
    text-align: center;
}
