:root {
    --black: #000000;
    
    --dark: #131313;
    --dark2: #212121;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins";
}

button {
    cursor: pointer;
    border: none;
    outline: none;
}

.p-fixed {
    position: fixed;
}

.d-flex {
    display: flex;
    align-items: center;
}

.jc-c {
    justify-content: center;
}

.d-grid {
    display: grid;
    place-items: center;
}

.br-20 {
    border-radius: 20px;
}